[submodule "Intro/mochila_camada7"]
	path = Intro/mochila_camada7
	url = https://github.com/robertotorfe/mochila_camada7.git
[submodule "frontI/PetShop"]
	path = frontI/PetShop
	url = https://github.com/lucasgustavodiaz/PetShop.git
[submodule "frontI/CV-Batman"]
	path = frontI/CV-Batman
	url = https://github.com/lucasgustavodiaz/CV-Batman.git
[submodule "frontI/card-hero"]
	path = frontI/card-hero
	url = https://github.com/lucasgustavodiaz/card-hero.git
