body {
    margin: 0px
}

header {
    background: #E6E6E6;
    text-align: center;
}

header img {
    padding: 20px;
}

h1 {
    background: #C4C4C4;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;
    color: #005677;
    padding: 16px;
    margin-top: 0px;
}

section h2 {
    background: #C4C4C4;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    color: #005677;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 12px;
}

footer {
    background: #005677;
    color: white;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

footer span {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
}